HTTP_PORT=80

POSTGRES_DB=crm
POSTGRES_USER=crm_user
POSTGRES_PASSWORD=change-me

REDIS_URL=redis://localhost:6379
REDIS_SESSION_PREFIX=ccrms:sess:
SESSION_TTL_SECONDS=28800
SESSION_COOKIE_SECURE=false
SESSION_COOKIE_SAME_SITE=lax

JWT_SECRET=change-me
FRONTEND_ORIGIN=http://localhost
FRONTEND_URL=http://localhost

VITE_API_URL=/api

AZURE_TENANT_ID=00000000-0000-0000-0000-000000000000
AZURE_CLIENT_ID=00000000-0000-0000-0000-000000000000
AZURE_CLIENT_SECRET=change-me
AZURE_AUTHORITY=https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000
AZURE_ISSUER=https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0
AZURE_JWKS_URI=https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys
AZURE_AUDIENCE=00000000-0000-0000-0000-000000000000
AZURE_REDIRECT_URI=http://localhost:5000
